.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  background-color: #e60000;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.button {
  background-color: white;
  color: #e60000;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-left: 10px;
}

.problemStatement {
  padding: 10px;
  background-color: #f1f1f1;
  border-bottom: 1px solid #ccc;
}

.main {
  display: flex;
  flex: 1;
}

.editor {
  flex: 2;
}

.output {
  flex: 1;
  background-color: #1e1e1e;
  color: white;
  padding: 10px;
  overflow-y: auto;
}

.monaco-editor{
  height: 100%;
}